body,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Kosugi Maru", sans-serif;
}

body {
  background: #dcedc1;
}

.header {
  background: #99cb4a;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #8dc339;
}

.header__title {
  font-size: 30px;
  padding: 10px 0;
  color: #fff;
  font-family: "Lobster", cursive;
}

.form {
  max-width: 100%;
  width: 300px;
  margin: 100px auto;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #8dc339;
  text-align: center;
  border-radius: 10px;
}

.form__item {
  margin-bottom: 10px;
}

.form__input {
  width: 80px;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #dcedc1;
  box-sizing: border-box;
  margin-right: 10px;
}

.form__submit {
  background: #99cb4a;
  color: #fff;
  padding: 5px 40px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  margin: 20px 0;
}

.form__submit:hover {
  background: #dcedc1;
}

.result {
  height: 100px;
  margin-bottom: 10px;
}

.result__header {
  font-size: 20px;
  margin-bottom: 30px;
}

.err {
  font-size: 14px;
  color: #db0000;
}

.btn__tw {
  height: 40px;
}
